<section class="aboutUs">
  <div class="container container-md container-xs">
    <div class="aboutUs__description">
      <h2>About US</h2>
      <p>Divide have don't man wherein air fourth. Own itself make have night won't make. A you under Seed appear which good give. Own give air without fowl moveth dry first heaven fruit, dominion she'd won't very all.</p>
      <img src="../images/signature.png" alt="">
    </div>
  </div>
</section>
