<section class="banner">
  <div class="banner__holder">
    <div class="banner__holder--slider">
      <div>
        <img src="../images/bannerPhoto3.jpg" alt="">
      </div>
      <div>
        <img src="../images/bannerPhoto1.jpg" alt="">
      </div>
      <div >
        <img src="../images/bannerPhoto2.jpg" alt="">
      </div>
  </div>
  <div class="banner__holder--desc">
    <h1>We Design and Develop</h1>
    <h3>We are a new design studio based in USA. We have over 20 years of combined experience, and know a thing or two about designing websites and mobile apps.</h3>
    <button type="button" name="button" class="banner__holder--desc--button">Contact Us</button>
  </div>

</section>
