<section class="contactUs">
  <div class="container container-md container-xs">
    <div class="row row-xs">
      <div class="col-40 col-xs-12">
        <div class="contactUs__description">
          <h2>Contact Info:</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <p><span>Address:</span> 10111 Santa Monica Boulevard, LA</p>
          <p><span>Phone:</span> <a href="tel:+44987065908">+44987065908</a></p>
          <p><span>Email:</span> <a href="mailto:info@Example.com">info@Example.com</a></p>
          <p><span>Fax:</span> <a href="fax:+44987065909">+44987065909</a></p>
        </div>
      </div>
      <div class="col-60 col-xs-12">
        <form class="contactUs__form" action="" method="post">
          <div class="row pad-25">
            <div class="col-6">
              <input type="text" name="name" maxlength="20" class="contactUs__form--input contactName" placeholder="Your Name">
            </div>
            <div class="col-6">
              <input type="text" name="email" class="contactUs__form--input contactEmail" placeholder="Your Email">
            </div>
          </div>
          <input type="text" name="title" class="contactUs__form--input contactTitle" placeholder="Your Title">
          <textarea name="comment" placeholder="Your Comment" class="contactComment"></textarea>
          <div class="row">
            <button type="submit" name="button" class="contactUs__form--button" value="">SEND MESSAGE</button>
            <div class="contactUs__form--error"></div>
            <div class="contactUs__form--success">Message has been sent.</div>
          </div>
        </form>
      </div>
    </div>
    <div class="contactUs__map">
      <a href="https://yandex.by/maps/org/skillup/15585450541/?utm_medium=mapframe&utm_source=maps">Skillup</a>
      <iframe src="https://yandex.by/map-widget/v1/-/CCQhe6TUhB" frameborder="1" allowfullscreen="true"></iframe>
    </div>
  </div>
</section>
