<footer class="footer">
  <div class="container container-md container-xs">
    <div class="row row-md row-xs">
      <div class="col-4 col-xs-12">
        <div class="footer__copyright">
          <h3>Lorem ipsum, inc</h3>
          <p>&#169; 2020 Lorem. All rights reserved. Designed by Dmitry.</p>
        </div>
      </div>
      <div class="col-4 col-xs-12">
        <div class="footer__contacts">
          <a href="mailto:info@Example.com">info@Example.com</a><br>
          <a href="tel:+44987065908">+44987065908</a>
        </div>
      </div>
      <div class="col-4 col-md-8 col-xs-12">
        <div class="footer__links">
          <div class="row row-xs">
            <div class="col-4 col-md-4 col-xs-6">
              <ul>
                <li><a href="#">Projects</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </div>
            <div class="col-4 col-md-4 col-xs-6">
              <ul>
                <li><a href="#">News</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Career</a></li>
                <li><a href="#">Legals</a></li>
              </ul>
            </div>
            <div class="col-4 col-md-4 col-xs-12">
              <ul>
                <li><a href="https://facebook.com/">Facebook</a></li>
                <li><a href="https://twitter.com/explore">Twitter</a></li>
                <li><a href="https://www.instagram.com/">Instagram</a></li>
                <li><a href="https://dribbble.com/">Dribble</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
