<section class="partners">
  <div class="container container-md container-xs">
    <div class="row row-md row-xs">
      <div class="col-3 col-md-6 col-xs-12">
        <div class="partners__img">
          <img src="../images/partners/barber.png" alt="">
        </div>

      </div>
      <div class="col-3 col-md-6 col-xs-12">
        <div class="partners__img">
          <img src="../images/partners/delicious.png" alt="">
        </div>

      </div>
      <div class="col-3 col-md-6 col-xs-12">
        <div class="partners__img">
          <img src="../images/partners/designers.png" alt="">
        </div>

      </div>
      <div class="col-3 col-md-6 col-xs-12">
        <div class="partners__img">
          <img src="../images/partners/royalcafe.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
