<section class="services">
  <div class="container container-md container-xs">
    <div class="row row-md row-xs">
      <div class="col-3 col-md-6 col-xs-6">
        <div class="services__item">
          <div class="services__item--img">
            <img src="../images/services/ui.png" alt="">
          </div>
          <div class="services__item--desc">
            <h3>UI/UX DESIGN</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
      <div class="col-3 col-md-6 col-xs-6">
        <div class="services__item">
          <div class="services__item--img">
            <img src="../images/services/webdev.png" alt="">
          </div>
          <div class="services__item--desc">
            <h3>WEB DEVELOPMENT</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
      <div class="col-3 col-md-6 col-xs-6">
        <div class="services__item">
          <div class="services__item--img">
            <img src="../images/services/mob.png" alt="">
          </div>
          <div class="services__item--desc">
            <h3>APP/MOBILE</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
      <div class="col-3 col-md-6 col-xs-6">
        <div class="services__item">
          <div class="services__item--img">
            <img src="../images/services/game.png" alt="">
          </div>
          <div class="services__item--desc">
            <h3>GAME DESIGN</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-md row-xs">
      <div class="col-3 col-md-6 col-xs-6">
        <div class="services__item">
          <div class="services__item--img">
            <img src="../images/services/seomarketing.png" alt="">
          </div>
          <div class="services__item--desc">
            <h3>SEO/MARKETING</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
      <div class="col-3 col-md-6 col-xs-6">
        <div class="services__item">
          <div class="services__item--img">
            <img src="../images/services/photography.png" alt="">
          </div>
          <div class="services__item--desc">
            <h3>PHOTOGRAPHY</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
      <div class="col-3 col-md-6 col-xs-6">
        <div class="services__item">
          <div class="services__item--img">
            <img src="../images/services/graphicdes.png" alt="">
          </div>
          <div class="services__item--desc">
            <h3>GRAPHIC DESIGN</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
      <div class="col-3 col-md-6 col-xs-6">
        <div class="services__item">
          <div class="services__item--img">
            <img src="../images/services/illustrations.png" alt="">
          </div>
          <div class="services__item--desc">
            <h3>ILLUSTRATIONS</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
