<section class="testimonials">
  <div class="container container-md container-xs">
    <div class="testimonials__slider">
      <div>
        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
        <p>Michael Hopkins</p>
      </div>
      <div>
        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
        <p>Michael Hopkins</p>
      </div>
      <div>
        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
        <p>Michael Hopkins</p>
      </div>
    </div>
  </div>
</section>
