<section class="workProcess">
  <div class="container container-md container-xs">
    <div class="workProcess__desc">
      <h2>Our Work Process</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="workProcess__player">
      <iframe src="https://www.youtube.com/embed/fPO76Jlnz6c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</section>
