<section class="works">
  <div class="container container-md container-xs">
    <div class="works__description">
      <h2>Our Latest Projects</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="works__portfolio">
      <div class="row pad-10 row-md row-xs">
        <div class="col-4 col-md-6 col-xs-12">
          <a href="../images/portfolio/1.png" class="magnific-popup" title="WorkName">
            <div class="works__portfolio--item">
              <div class="works__portfolio--item--img">
                <img src="../images/portfolio/1.png" alt="">
              </div>
              <div class="works__portfolio--item--desc">
                <h3>Lorem ipsum dolor.</h3>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-4 col-md-6 col-xs-12">
          <a href="../images/portfolio/2.png" class="magnific-popup" title="WorkName">
            <div class="works__portfolio--item">
              <div class="works__portfolio--item--img">
                <img src="../images/portfolio/2.png" alt="">
              </div>
              <div class="works__portfolio--item--desc">
                <h3>Lorem ipsum dolor.</h3>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-4 col-md-6 col-xs-12">
          <a href="../images/portfolio/3.png" class="magnific-popup" title="WorkName">
            <div class="works__portfolio--item">
              <div class="works__portfolio--item--img">
                <img src="../images/portfolio/3.png" alt="">
              </div>
              <div class="works__portfolio--item--desc">
                <h3>Lorem ipsum dolor.</h3>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="row pad-10 row-md row-xs">
        <div class="col-4 col-md-6 col-xs-12">
          <a href="../images/portfolio/4.png" class="magnific-popup" title="WorkName">
            <div class="works__portfolio--item">
              <div class="works__portfolio--item--img">
                <img src="../images/portfolio/4.png" alt="">
              </div>
              <div class="works__portfolio--item--desc">
                <h3>Lorem ipsum dolor.</h3>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-4 col-md-6 col-xs-12">
          <a href="../images/portfolio/5.png" class="magnific-popup" title="WorkName">
            <div class="works__portfolio--item">
              <div class="works__portfolio--item--img">
                <img src="../images/portfolio/5.png" alt="">
              </div>
              <div class="works__portfolio--item--desc">
                <h3>Lorem ipsum dolor.</h3>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-4 col-md-6 col-xs-12">
          <a href="../images/portfolio/1.png" class="magnific-popup" title="WorkName">
            <div class="works__portfolio--item">
              <div class="works__portfolio--item--img">
                <img src="../images/portfolio/1.png" alt="">
              </div>
              <div class="works__portfolio--item--desc">
                <h3>Lorem ipsum dolor.</h3>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
