<section class="aboutUs">
  <div class="container container-md">
    <div class="row pad-md-15">
      <div class="col-6 col-md-6">
        <div class="aboutUs__img">
          <img src="../images/monitor.png" alt="">
        </div>
      </div>
      <div class="col-6 col-md-6">
        <div class="aboutUs__desc">
          <h2>OUR HISTORY</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate quod corrupti modi nemo hic sapiente dolores qui fuga, recusandae voluptatem minima assumenda accusantium consequatur aliquid numquam non iste, facilis dicta?</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, placeat, corporis iste modi id sint expedita veritatis qui eveniet fugit esse vel molestias doloribus aspernatur quisquam accusamus a autem consequatur, iusto itaque. Perspiciatis nostrum suscipit quam ratione laboriosam nam voluptates.</p>
          <a class="aboutUs__desc--a"><button type="button" name="button" class="aboutUs__desc--btn">BROWSE OUR WORK</button></a>
        </div>
      </div>
    </div>
  </div>
</section>
