<section class="banner">
  <div class="banner__slider">
      <div class="banner__slider--img">
        <img src="../images/1.jpg" alt="">
      </div>
      <div class="banner__slider--img">
        <img src="../images/2.jpg" alt="">
      </div>
      <div  class="banner__slider--img">
        <img src="../images/3.jpg" alt="">
      </div>
  </div>
  <div class="container container-md">

  </div>
  <div class="banner__desc">
    <h3>Our Clients Are Our First Priority</h3>
    <h1>WELCOME TO BINO</h1>
    <div class="row">
      <span class="banner__desc--line"></span>
      <span class="banner__desc--point"></span>
      <span class="banner__desc--line"></span>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt consequatur, iure rerum dolorum? Ab adipisci recusandae itaque laboriosam cum omnis officia quas ad eius! Autem harum voluptatibus et doloremque numquam.</p>
    <div class="rowBtn">
      <a href="#"><button type="button" name="button" class="banner__desc--button">GET STARTED NOW</button></a>
      <a href="#"><button type="button" name="button" class="banner__desc--button">LEARN MORE</button></a>

    </div>
  </div>
  <a class="banner__anchor">
    <span class="banner__anchor--background">
      <span class="banner__anchor--background--bottom"></span>
    </span>
    <span class="banner__anchor--front"></span>
  </a>
  <span class="banner__leftTriangle"></span>
  <span class="banner__rightTriangle"></span>
</section>
