<section class="blog">
  <div class="container container-md">
    <div class="blog__title">
      <h2>OUR BLOG</h2>
      <p>Suspendisse sed eros mollis, tincidunt felis eget, interdum erat. Nullam sit amet odio eu est aliquet euismod a a urna. </p>
      <div class="row">
        <span class="blog__title--line"></span>
        <span class="blog__title--point"></span>
        <span class="blog__title--line"></span>
      </div>
    </div>
  </div>
  <div class="blog__content">
    <div class="row row-md">
      <div class="col-3 col-md-6">
        <div class="blog__content--img">
          <img src="../images/blog/2.png" alt="">
        </div>
      </div>
      <div class="col-3 col-md-6">
        <div class="blog__content--desc">
          <p>art / t-shirt</p>
          <h3>T-SHIRT DESIGN</h3>
          <span class="blog__content--desc--span"></span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, unde impedit ipsum commodi rem, odit nobis perspiciatis perferendis facere molestiae non facilis suscipit inventore sapiente beatae pariatur porro in dolorum?</p>
          <a href="#"><span class="blog__content--desc--btn">Read More</span></a>
        </div>
      </div>
      <div class="col-6 col-md-12">
        <div class="row">
          <div class="col-6 col-md-6">
            <div class="blog__content--img">
              <img src="../images/blog/2.png" alt="">
            </div>
          </div>
          <div class="col-6 col-md-6">
            <div class="blog__content--desc">
              <p>art / t-shirt</p>
              <h3>T-SHIRT DESIGN</h3>
              <span class="blog__content--desc--span"></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, unde impedit ipsum commodi rem, odit nobis perspiciatis perferendis facere molestiae non facilis suscipit inventore sapiente beatae pariatur porro in dolorum?</p>
              <a href="#"><span class="blog__content--desc--btn">Read More</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-md">
      <div class="col-3">
        <div class="blog__content--img">
          <img src="../images/blog/3.png" alt="">
        </div>
      </div>
      <div class="col-3">
        <div class="blog__content--desc">
          <p>art / t-shirt</p>
          <h3>T-SHIRT DESIGN</h3>
          <span class="blog__content--desc--span"></span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, unde impedit ipsum commodi rem, odit nobis perspiciatis perferendis facere molestiae non facilis suscipit inventore sapiente beatae pariatur porro in dolorum?</p>
          <a href="#"><span class="blog__content--desc--btn">Read More</span></a>
        </div>
      </div>
      <div class="col-3">
        <div class="blog__content--img">
          <img src="../images/blog/4.png" alt="">
        </div>
      </div>
      <div class="col-3">
        <div class="blog__content--desc">
          <p>art / t-shirt</p>
          <h3>T-SHIRT DESIGN</h3>
          <span class="blog__content--desc--span"></span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, unde impedit ipsum commodi rem, odit nobis perspiciatis perferendis facere molestiae non facilis suscipit inventore sapiente beatae pariatur porro in dolorum?</p>
          <a href="#"><span class="blog__content--desc--btn">Read More</span></a>
        </div>
      </div>
    </div>
  </div>
</section>
