<section class="caseStudy">
  <div class="container container-md">
    <div class="caseStudy__title">
      <h2>CASE STUDY</h2>
      <p>A brief story about how this process works, keep an eye till the end.</p>
      <div class="row">
        <span class="caseStudy__title--line"></span>
        <span class="caseStudy__title--point"></span>
        <span class="caseStudy__title--line"></span>
      </div>
    </div>
    <div class="caseStudy__desc">
      <div class="row first">
        <div class="col-6">

        </div>
        <div class="col-6">
          <div class="caseStudy__desc--img">
            <img src="../images/caseStudy.png" alt="">
          </div>
        </div>
      </div>
      <div class="second">
        <div class="caseStudy__desc--slider">
          <div class="caseStudy__desc--slider--item">
            <div class="caseStudy__desc--slider--item--icon">
              <div class="caseStudy__desc--slider--item--icon--box">
                <i class="far fa-lightbulb"></i>
              </div>
            </div>
            <div class="caseStudy__desc--slider--item--desc">
              <h3 class="caseStudy__desc--slider--item--desc--h3">ACCUMULATE CREATIVE IDEAS</h3>
              <div class="caseStudy__desc--slider--item--desc--line"></div>
              <p class="caseStudy__desc--slider--item--desc--p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae excepturi ipsum iste dolore impedit, beatae fugit, quaerat soluta, dicta amet nesciunt. Eveniet natus corrupti asperiores. Culpa vero expedita laboriosam dolore?</p>
              <a href=""><button type="button" name="button">READ MORE</button></a>
            </div>
          </div>
          <div class="caseStudy__desc--slider--item">
            <div class="caseStudy__desc--slider--item--icon">
              <div class="caseStudy__desc--slider--item--icon--box">
                <i class="far fa-lightbulb"></i>
              </div>
            </div>
            <div class="caseStudy__desc--slider--item--desc">
              <h3 class="caseStudy__desc--slider--item--desc--h3">ACCUMULATE CREATIVE IDEAS</h3>
              <div class="caseStudy__desc--slider--item--desc--line"></div>
              <p class="caseStudy__desc--slider--item--desc--p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae excepturi ipsum iste dolore impedit, beatae fugit, quaerat soluta, dicta amet nesciunt. Eveniet natus corrupti asperiores. Culpa vero expedita laboriosam dolore?</p>
              <a href=""><button type="button" name="button">READ MORE</button></a>
            </div>
          </div>
          <div class="caseStudy__desc--slider--item">
            <div class="caseStudy__desc--slider--item--icon">
              <div class="caseStudy__desc--slider--item--icon--box">
                <i class="far fa-lightbulb"></i>
              </div>
            </div>
            <div class="caseStudy__desc--slider--item--desc">
              <h3 class="caseStudy__desc--slider--item--desc--h3">ACCUMULATE CREATIVE IDEAS</h3>
              <div class="caseStudy__desc--slider--item--desc--line"></div>
              <p class="caseStudy__desc--slider--item--desc--p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae excepturi ipsum iste dolore impedit, beatae fugit, quaerat soluta, dicta amet nesciunt. Eveniet natus corrupti asperiores. Culpa vero expedita laboriosam dolore?</p>
              <a href=""><button type="button" name="button">READ MORE</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
