<section class="clients">
  <div class="container container-md">
    <div class="clients__title">
      <h2>GREATE INTEGRATIONS WITH OTHERS</h2>
      <p>Suspendisse sed eros mollis, tincidunt felis eget, interdum erat.<br> Nullam sit amet odio eu est aliquet euismod a a urna. Proin eu urna suscipit, dictum quam nec. </p>
      <div class="row">
        <span class="clients__title--line"></span>
        <span class="clients__title--point"></span>
        <span class="clients__title--line"></span>
      </div>
    </div>
    <div class="clients__content">
      <div class="row pad-15">
        <div class="col-5">
          <div class="clients__content--item">
            <img src="../images/clients/1.png" alt="">
          </div>
        </div>
        <div class="col-5">
          <div class="clients__content--item">
            <img src="../images/clients/1.png" alt="">
          </div>
        </div>
        <div class="col-5">
          <div class="clients__content--item">
            <img src="../images/clients/1.png" alt="">
          </div>
        </div>
        <div class="col-5">
          <div class="clients__content--item">
            <img src="../images/clients/1.png" alt="">
          </div>
        </div>
        <div class="col-5">
          <div class="clients__content--item">
            <img src="../images/clients/1.png" alt="">
          </div>
        </div>
      </div>
      <div class="row pad-15">
        <div class="col-5">
          <div class="clients__content--item">
            <img src="../images/clients/1.png" alt="">
          </div>
        </div>
        <div class="col-5">
          <div class="clients__content--item">
            <img src="../images/clients/1.png" alt="">
          </div>
        </div>
        <div class="col-5">
          <div class="clients__content--item">
            <img src="../images/clients/1.png" alt="">
          </div>
        </div>
        <div class="col-5">
          <div class="clients__content--item">
            <img src="../images/clients/1.png" alt="">
          </div>
        </div>
        <div class="col-5">
          <div class="clients__content--item">
            <img src="../images/clients/1.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
