<section class="contact">
  <div class="container container-md">
    <div class="contact__title">
      <h2>KEEP IN TOUCH</h2>
      <p>Suspendisse sed eros mollis, tincidunt felis eget, interdum erat. Nullam sit amet odio eu est aliquet euismod a a urna. </p>
      <div class="row">
        <span class="contact__title--line"></span>
        <span class="contact__title--point"></span>
        <span class="contact__title--line"></span>
      </div>
    </div>
    <div class="contact__form">
      <div class="row ">
        <div class="col-40">
          <div class="contact__form--contacts">
            <div class="contact__form--contacts--address">
              <h3>OUR ADDRESS</h3>
              <a href="https://goo.gl/maps/HjVZrTvp6vdroCoD8" target="_blank">House #13, Street road, Sydney 2310 Australia</a>
            </div>
            <div class="contact__form--contacts--mob">
              <h3>CALL US</h3>
              <a href="tel:+8801681091425">+ 880 168 109 1425</a><br>
              <a href="tel:+0216809142">+ 021 680 9142</a>
            </div>
            <div class="contact__form--contacts--email">
              <h3>EMAIL US</h3>
              <a href="mailto:contactus@emai.com">contactus@emai.com</a>
            </div>
          </div>
        </div>
        <div class="col-60">
          <form class="contact__form--sendForm" action="" method="post">
            <input class="contact__form--sendForm--name" type="text" name="name" maxlength="30" placeholder="Name">
            <input class="contact__form--sendForm--email" type="text" name="email" value="" placeholder="Email">
            <input class="contact__form--sendForm--subject" type="text" name="subject" value="" placeholder="Subject">
            <textarea class="contact__form--sendForm--message" name="message" placeholder="Message"></textarea>
            <div class="row">
              <button type="submit" name="button" class="contact__form--sendForm--btn">SEND MESSAGE</button>
              <div class="contact__form--sendForm--error"></div>
              <div class="contact__form--sendForm--success">Message has been sent.</div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
