<footer class="footer">
  <div class="container container-md">
    <div class="row">
      <div class="footer__socials">
        <div class="row">
          <div class="footer__socials--item">
            <a href="https://www.facebook.com/" target="_blank">
              <i class="fab fa-facebook-f facebook"></i>
            </a>
          </div>
          <div class="footer__socials--item">
            <a href="https://twitter.com/" target="_blank">
              <i class="fab fa-twitter twitter"></i>
            </a>
          </div>
          <div class="footer__socials--item">
            <a href="http://rss.by/" target="_blank">
              <i class="fas fa-rss rss"></i>
            </a>
          </div>
          <div class="footer__socials--item">
            <a href="https://www.google.com/" target="_blank">
              <i class="fab fa-google-plus-g google"></i>
            </a>
          </div>
          <div class="footer__socials--item">
            <a href="https://www.linkedin.com/" target="_blank">
             <i class="fab fa-linkedin-in linkedin"></i>
            </a>
          </div>
          <div class="footer__socials--item">
            <a href="https://www.skype.com/" target="_blank">
              <i class="fab fa-skype skype"></i>
            </a>
          </div>
          <div class="footer__socials--item">
            <a href="https://vimeo.com/" target="_blank">
              <i class="fab fa-vimeo-v vimeo"></i>
            </a>
          </div>
          <div class="footer__socials--item">
            <a href="https://www.tumblr.com/" target="_blank">
              <i class="fab fa-tumblr tumblr"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="footer__copyRight">
        <p>Lorem ipsum. &#169; All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>
