<header class="header">
  <div class="container container-md">
    <div class="row">
      <div class="header__logo">
        <img src="../images/logo.png" alt="">
      </div>
      <nav class="header__navigation">
        <ul id="keks">
          <li><a class="header__navigation--home">HOME</a></li>
          <li><a class="header__navigation--aboutUs">ABOUT US</a></li>
          <li><a class="header__navigation--services">SERVICES</a></li>
          <li><a class="header__navigation--platforms">PLATFORMS</a></li>
          <li><a class="header__navigation--portfolio">PORTFOLIO</a></li>
          <li><a class="header__navigation--pricing">PRICE</a></li>
          <li><a class="header__navigation--team">TEAM</a></li>
          <li><a class="header__navigation--blog">BLOG</a></li>
          <li><a class="header__navigation--contact">CONTACT</a></li>
        </ul>
        <div id="header__navigation--burger">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>
      </nav>
    </div>
  </div>
</header>
