<section class="platforms">
  <div class="container container-md">
    <div class="row">
      <div class="col-6">
        <div class="platforms__images">
          <div class="platforms__images--iphone show">
            <img src="../images/iphone.png" alt="">
          </div>
          <div class="platforms__images--ipad">
            <img src="../images/ipad.png" alt="">
          </div>
          <div class="platforms__images--macbook">
            <img src="../images/macbook.png" alt="">
          </div>
        </div>
        <div class="platforms__types">
          <button type="button" name="button" class="platforms__types--iphone"><i class="fas fa-mobile-alt"></i></button>
          <button type="button" name="button" class="platforms__types--ipad"><i class="fas fa-tablet-alt"></i></button>
          <button type="button" name="button" class="platforms__types--macbook"><i class="fas fa-laptop"></i></button>
        </div>
      </div>
      <div class="col-6">
        <div class="platforms__desc">
          <h2>PLATFORMS</h2>
          <p>All our works looks good on all platforms.</p>
          <div class="platforms__desc--line"></div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui nihil quod atque in optio culpa dolore rem veniam provident impedit, voluptatum vitae quas, deserunt, rerum repudiandae consequuntur, saepe esse blanditiis.</p>
        </div>
      </div>
    </div>
  </div>
</section>
