<section class="portfolio">
  <div class="container container-md">
    <div class="portfolio__title">
      <h2>RECENT WORKS</h2>
      <p>It has survived not only five centuries, but also the leap scrambled it to make a type.</p>
      <div class="row">
        <span class="caseStudy__title--line"></span>
        <span class="caseStudy__title--point"></span>
        <span class="caseStudy__title--line"></span>
      </div>
    </div>
  </div>
  <div class="portfolio__works">
    <div class="container container-md">
      <div class="portfolio__works--filters">
        <ul>
          <li>ALL</li>
          <li>PRINT DESIGN</li>
          <li>ANIMATION</li>
          <li>ART</li>
          <li>WEB DESIGN</li>
          <li>PHOTOGRAPHY</li>
          <li>VIDEO</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="portfolio__works--item">
          <img src="../images/works/8.png" alt="">
          <div class="portfolio__works--item--hoverBlock">
            <div class="portfolio__works--item--hoverBlock--desc">
              <span></span>
              <h3>T-SHIRT DESIGN</h3>
              <p>art / t-shirt</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="portfolio__works--item">
          <img src="../images/works/2.png" alt="">
          <div class="portfolio__works--item--hoverBlock">
            <div class="portfolio__works--item--hoverBlock--desc">
              <span></span>
              <h3>T-SHIRT DESIGN</h3>
              <p>art / t-shirt</p>
            </div>

          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="portfolio__works--item">
          <img src="../images/works/3.png" alt="">
          <div class="portfolio__works--item--hoverBlock">
            <div class="portfolio__works--item--hoverBlock--desc">
              <span></span>
              <h3>T-SHIRT DESIGN</h3>
              <p>art / t-shirt</p>
            </div>

          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="portfolio__works--item">
          <img src="../images/works/4.png" alt="">
          <div class="portfolio__works--item--hoverBlock">
            <div class="portfolio__works--item--hoverBlock--desc">
              <span></span>
              <h3>T-SHIRT DESIGN</h3>
              <p>art / t-shirt</p>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="portfolio__works--item">
          <img src="../images/works/5.png" alt="">
          <div class="portfolio__works--item--hoverBlock">
            <div class="portfolio__works--item--hoverBlock--desc">
              <span></span>
              <h3>T-SHIRT DESIGN</h3>
              <p>art / t-shirt</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="portfolio__works--item">
          <img src="../images/works/6.png" alt="">
          <div class="portfolio__works--item--hoverBlock">
            <div class="portfolio__works--item--hoverBlock--desc">
              <span></span>
              <h3>T-SHIRT DESIGN</h3>
              <p>art / t-shirt</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="portfolio__works--item">
          <img src="../images/works/7.png" alt="">
          <div class="portfolio__works--item--hoverBlock">
            <div class="portfolio__works--item--hoverBlock--desc">
              <span></span>
              <h3>T-SHIRT DESIGN</h3>
              <p>art / t-shirt</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="portfolio__works--item">
          <img src="../images/works/8.png" alt="">
          <div class="portfolio__works--item--hoverBlock">
            <div class="portfolio__works--item--hoverBlock--desc">
              <span></span>
              <h3>T-SHIRT DESIGN</h3>
              <p>art / t-shirt</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
