<section class="pricing">
  <div class="container container-md">
    <div class="pricing__title">
      <h2>OUR PRICING</h2>
      <p>A 30 days free trial for all. A brief story about how this process works, keep an eye til the end.</p>
      <div class="row">
        <span class="pricing__title--line"></span>
        <span class="pricing__title--point"></span>
        <span class="pricing__title--line"></span>
      </div>
    </div>
    <div class="row pad-15">
      <div class="col-4">
        <div class="pricing__item">
          <div class="pricing__item--title">
            <h2>STARTER</h2>
            <div class="pricing__item--title--price">
              <span class="pricing__item--title--price--bottomPart"></span>
              <div class="pricing__item--title--price--front">
                <div class="pricing__item--title--price--front--desc">
                  <span>19</span>
                  <p>per month</p>
                </div>
              </div>
            </div>
          </div>
          <div class="pricing__item--desc">
            <p>Competition Analysis Methods</p>
            <p>All Ranked URLs</p>
            <p>International Support System</p>
            <p>Social Media Tracking</p>
            <a href=""><button type="button" name="button" class="pricing__item--desc--btn">CHOOSE PLAN</button></a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="pricing__item">
          <div class="pricing__item--title">
            <h2>PREMIUM</h2>
            <div class="pricing__item--title--price">
              <span class="pricing__item--title--price--bottomPart"></span>
              <div class="pricing__item--title--price--front">
                <div class="pricing__item--title--price--front--desc">
                  <span>39</span>
                  <p>per month</p>
                </div>
              </div>
            </div>
          </div>
          <div class="pricing__item--desc">
            <p>Competition Analysis Methods</p>
            <p>All Ranked URLs</p>
            <p>International Support System</p>
            <p>Social Media Tracking</p>
            <a href=""><button type="button" name="button" class="pricing__item--desc--btn">CHOOSE PLAN</button></a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="pricing__item">
          <div class="pricing__item--title">
            <h2>BUSINESS</h2>
            <div class="pricing__item--title--price">
              <span class="pricing__item--title--price--bottomPart"></span>
              <div class="pricing__item--title--price--front">
                <div class="pricing__item--title--price--front--desc">
                  <span>99</span>
                  <p>per month</p>
                </div>
              </div>
            </div>
          </div>
          <div class="pricing__item--desc">
            <p>Competition Analysis Methods</p>
            <p>All Ranked URLs</p>
            <p>International Support System</p>
            <p>Social Media Tracking</p>
            <a href=""><button type="button" name="button" class="pricing__item--desc--btn">CHOOSE PLAN</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
