<section class="promo">
  <div class="container container-md">
    <h2>Let's Get Started Now. <span>It's FREE!</span></h2>
    <p>30 days trial. Free plan allows up 2 projects. Pay if you need more. Cancel anytime. No catches.</p>
    <a href="#"><button type="button" name="button">START FREE TRIAL</button></a>
  </div>
</section>
