<section class="services">
  <div class="container container-md">
    <h2>OUR SERVICES</h2>
    <div class="services__slider">
      <div class="services__slider--item">
        <div class="row">
          <div class="col-10">
            <div class="services__slider--item--desc">
              <h3>WEB DESIGN</h3>
              <p class="services__slider--item--p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In aspernatur tempora velit quos repellendus omnis, sed officiis itaque.</p>
            </div>
          </div>
          <div class="col-2">
            <div class="services__slider--item--icon">
              <span class="services__slider--item--icon--background">
                <span class="services__slider--item--icon--front"><i class="fas fa-tv"></i></span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="services__slider--item">
        <div class="row">
          <div class="col-10">
            <div class="services__slider--item--desc">
              <h3>PRINT DESIGN</h3>
              <p class="services__slider--item--p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In aspernatur tempora velit quos repellendus omnis, sed officiis itaque.</p>
            </div>
          </div>
          <div class="col-2">
            <div class="services__slider--item--icon">
              <span class="services__slider--item--icon--background">
                <span class="services__slider--item--icon--front"><i class="fas fa-layer-group"></i></span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="services__slider--item">
        <div class="row">
          <div class="col-10">
            <div class="services__slider--item--desc">
              <h3>PHOTOGRAPHY</h3>
              <p class="services__slider--item--p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In aspernatur tempora velit quos repellendus omnis, sed officiis itaque.</p>
            </div>
          </div>
          <div class="col-2">
            <div class="services__slider--item--icon">
              <span class="services__slider--item--icon--background">
                <span class="services__slider--item--icon--front"><i class="fas fa-camera"></i></span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="services__slider--item">
        <div class="row">
          <div class="col-10">
            <div class="services__slider--item--desc">
              <h3>WEB DESIGN</h3>
              <p class="services__slider--item--p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In aspernatur tempora velit quos repellendus omnis, sed officiis itaque.</p>
            </div>
          </div>
          <div class="col-2">
            <div class="services__slider--item--icon">
              <span class="services__slider--item--icon--background">
                <span class="services__slider--item--icon--front"><i class="fas fa-tv"></i></span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="services__slider--item">
        <div class="row">
          <div class="col-10">
            <div class="services__slider--item--desc">
              <h3>PRINT DESIGN</h3>
              <p class="services__slider--item--p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In aspernatur tempora velit quos repellendus omnis, sed officiis itaque.</p>
            </div>
          </div>
          <div class="col-2">
            <div class="services__slider--item--icon">
              <span class="services__slider--item--icon--background">
                <span class="services__slider--item--icon--front"><i class="fas fa-layer-group"></i></span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="services__slider--item">
        <div class="row">
          <div class="col-10">
            <div class="services__slider--item--desc">
              <h3>PHOTOGRAPHY</h3>
              <p class="services__slider--item--p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In aspernatur tempora velit quos repellendus omnis, sed officiis itaque.</p>
            </div>
          </div>
          <div class="col-2">
            <div class="services__slider--item--icon">
              <span class="services__slider--item--icon--background">
                <span class="services__slider--item--icon--front"><i class="fas fa-camera"></i></span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="services__slider--item">
        <div class="row">
          <div class="col-10">
            <div class="services__slider--item--desc">
              <h3>WEB DESIGN</h3>
              <p class="services__slider--item--p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In aspernatur tempora velit quos repellendus omnis, sed officiis itaque.</p>
            </div>
          </div>
          <div class="col-2">
            <div class="services__slider--item--icon">
              <span class="services__slider--item--icon--background">
                <span class="services__slider--item--icon--front"><i class="fas fa-tv"></i></span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="services__slider--item">
        <div class="row">
          <div class="col-10">
            <div class="services__slider--item--desc">
              <h3>PRINT DESIGN</h3>
              <p class="services__slider--item--p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In aspernatur tempora velit quos repellendus omnis, sed officiis itaque.</p>
            </div>
          </div>
          <div class="col-2">
            <div class="services__slider--item--icon">
              <span class="services__slider--item--icon--background">
                <span class="services__slider--item--icon--front"><i class="fas fa-layer-group"></i></span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="services__slider--item">
        <div class="row">
          <div class="col-10">
            <div class="services__slider--item--desc">
              <h3>PHOTOGRAPHY</h3>
              <p class="services__slider--item--p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In aspernatur tempora velit quos repellendus omnis, sed officiis itaque.</p>
            </div>
          </div>
          <div class="col-2">
            <div class="services__slider--item--icon">
              <span class="services__slider--item--icon--background">
                <span class="services__slider--item--icon--front"><i class="fas fa-camera"></i></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
