<section class="statistics">
  <div class="container container-md">
    <div class="row">
      <div class="col-5">
        <div class="statistics__icon">
          <i class="far fa-heart hearts"></i>
        </div>
        <div class="statistics__desc">
          <h3>3891</h3>
          <p>User Favourites</p>
        </div>
      </div>
      <div class="col-5">
        <div class="statistics__icon">
          <i class="fas fa-tag tag"></i>
        </div>
        <div class="statistics__desc">
          <h3>281K</h3>
          <p>Posts Last 24 Hours</p>
        </div>
      </div>
      <div class="col-5">
        <div class="statistics__icon">
          <i class="far fa-thumbs-up like"></i>
        </div>
        <div class="statistics__desc">
          <h3>618</h3>
          <p>Total Posts</p>
        </div>
      </div>
      <div class="col-5">
        <div class="statistics__icon">
          <i class="far fa-star star"></i>
        </div>
        <div class="statistics__desc">
          <h3>178</h3>
          <p>Campaigns</p>
        </div>
      </div>
      <div class="col-5">
        <div class="statistics__icon">
          <i class="far fa-bookmark bookmark"></i>
        </div>
        <div class="statistics__desc">
          <h3>285</h3>
          <p>Amazing Features</p>
        </div>
      </div>
    </div>
  </div>
</section>
