<section class="team">
  <div class="container container-md">
    <div class="team__title">
      <h2>OUR TEAM</h2>
      <p>Meet the craziest team. Share your thoughts with them.</p>
      <div class="row">
        <span class="team__title--line"></span>
        <span class="team__title--point"></span>
        <span class="team__title--line"></span>
      </div>
    </div>
    <div class="team__persons">
      <div class="row">
        <div class="col-5">
          <div class="team__persons--first">
            <div class="team__persons--first--imgBackground">
              <div class="team__persons--first--imgBackground--img">
                <img src="../images/team/1.png" alt="">
                <div class="team__persons--first--imgBackground--img--front"></div>
              </div>
            </div>
            <div class="team__persons--first--desc">
              <div></div>
              <h3>Kazi Erfan</h3>
              <p>UI / UX Designer</p>
            </div>
          </div>
        </div>
        <div class="col-5">
          <div class="team__persons--second">
            <div class="team__persons--second--imgBackground">
              <div class="team__persons--second--imgBackground--img">
                <img src="../images/team/2.png" alt="">
                <div class="team__persons--second--imgBackground--img--front"></div>
              </div>
            </div>
            <div class="team__persons--second--desc">
              <div></div>
              <h3>Kazi Erfan</h3>
              <p>UI / UX Designer</p>
            </div>
          </div>
        </div>
        <div class="col-5">
          <div class="team__persons--third">
            <div class="team__persons--third--imgBackground">
              <div class="team__persons--third--imgBackground--img">
                <img src="../images/team/3.png" alt="">
                <div class="team__persons--third--imgBackground--img--front"></div>
              </div>
            </div>
            <div class="team__persons--third--desc">
              <div></div>
              <h3>Kazi Erfan</h3>
              <p>UI / UX Designer</p>
            </div>
          </div>
        </div>
        <div class="col-5">
          <div class="team__persons--fourth">
            <div class="team__persons--fourth--imgBackground">
              <div class="team__persons--fourth--imgBackground--img">
                <img src="../images/team/4.png" alt="">
                <div class="team__persons--fourth--imgBackground--img--front"></div>
              </div>
            </div>
            <div class="team__persons--fourth--desc">
              <div></div>
              <h3>Kazi Erfan</h3>
              <p>UI / UX Designer</p>
            </div>
          </div>
        </div>
        <div class="col-5">
          <div class="team__persons--five">
            <div class="team__persons--five--imgBackground">
              <div class="team__persons--five--imgBackground--img">
                <img src="../images/team/5.png" alt="">
                <div class="team__persons--five--imgBackground--img--front"></div>
              </div>
            </div>
            <div class="team__persons--five--desc">
              <div></div>
              <h3>Kazi Erfan</h3>
              <p>UI / UX Designer</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
