<section class="whoWeAre">
  <div class="container container-md">
    <div class="row">
      <div class="col-3">
        <div class="whoWeAre__item">
          <div class="whoWeAre__item--icon">
            <div class="whoWeAre__item--icon--box">
              <i class="fas fa-glasses glasses"></i>
            </div>
          </div>
          <div class="whoWeAre__item--desc">
            <h3 class="whoWeAre__item--desc-h3">SLEEK DESIGN</h3>
            <div class="whoWeAre__item--desc--line"></div>
            <p class="whoWeAre__item--desc-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium maiores quae omnis cum reprehenderit delectus! Iusto, veniam, quo.</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="whoWeAre__item">
          <div class="whoWeAre__item--icon">
            <div class="whoWeAre__item--icon--box">
              <i class="far fa-heart heart"></i>
            </div>
          </div>
          <div class="whoWeAre__item--desc">
            <h3 class="whoWeAre__item--desc-h3">CLEAN CODE</h3>
            <div class="whoWeAre__item--desc--line"></div>
            <p class="whoWeAre__item--desc-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium maiores quae omnis cum reprehenderit delectus! Iusto, veniam, quo.</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="whoWeAre__item">
          <div class="whoWeAre__item--icon">
            <div class="whoWeAre__item--icon--box">
              <i class="far fa-lightbulb light"></i>
            </div>
          </div>
          <div class="whoWeAre__item--desc">
            <h3 class="whoWeAre__item--desc-h3">CREATIVE IDEAS</h3>
            <div class="whoWeAre__item--desc--line"></div>
            <p class="whoWeAre__item--desc-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium maiores quae omnis cum reprehenderit delectus! Iusto, veniam, quo.</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="whoWeAre__item">
          <div class="whoWeAre__item--icon">
            <div class="whoWeAre__item--icon--box">
              <i class="far fa-comment-alt comments"></i>
            </div>
          </div>
          <div class="whoWeAre__item--desc">
            <h3 class="whoWeAre__item--desc-h3">FREE SUPPORT</h3>
            <div class="whoWeAre__item--desc--line"></div>
            <p class="whoWeAre__item--desc-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium maiores quae omnis cum reprehenderit delectus! Iusto, veniam, quo.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
