@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #000000;
}
img {
  max-width: 100%;
  pointer-events: none;
  display: block;
}
.container {
  width: 1200px;
  margin: 0 auto;
}

h1 {
  color: #e5ff00;
}
@import "app/_scss-core/_core";

@import "scss/helpers";
@import "scss/typography";
@import "scss/slider";
