<!DOCTYPE html>
<html>

<head lang="ru">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Slider</title>

</head>

<body>
  {{> _components/slider}}
</body>

</html>