<div class="wrap">
  <div class="slider">
    <div class="slider__item">
      <img src="./images/1.jpg" alt="">
    </div>
    <div class="slider__item">
      <img src="./images/2.jpg" alt="">
    </div>
    <div class="slider__item">
      <img src="./images/3.jpg" alt="">
    </div>
    <div class="slider__item">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque illum, officiis nostrum.</p>
    </div>

  </div>
  <div id="slider__btnPrev"></div>
  <div id="slider__btnNext"></div>
</div>

<div class="dots">
  <span class="dots__item active"></span>
  <span class="dots__item"></span>
  <span class="dots__item"></span>
</div>
