.statistics{
  background: url('../images/statisticsBackground.png');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 150px 0;
  &__icon{
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border: 2px solid #fff;
    border-radius: 50%;
    & .hearts, & .tag, & .like, & .star, & .bookmark{
      color: #fff;
      font-size: 36px;
      line-height: 3.2;
    }
    margin-bottom: 40px;
  }
  &__desc{
    & h3{
      color: #fff;
      font-size: 30px;
      margin: 0;
    }
    & p{
      color: #fff;
      font-size: 18px;
    }
  }
}
