<!DOCTYPE html>
<html>

<head lang="ru">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="./images/favicon.png">
    <title>Pincet</title>

</head>

<body>
  {{> _partials/banner}}

</body>
</html>
