.contactUs{
  padding: 100px 0;
  background: #fbfaf8;
  &__description{
    max-width: 370px;
    & p{
      & a{
        &:hover{
          color: #9a7350;
        }
      }
      & span{
        font-weight: bold;
        color: black;
      }
    }
  }
  &__form{
    &--input{
      @include box(100%, 50px);
      margin-bottom: 30px;
      padding-left: 15px;
      font-size: 18px;
      border: none;
      outline: none;
      border: 2px solid #998675;
      border-radius: 5px;
      &:hover{
        box-shadow: 0 0 10px 1px #998675;
      }
      &:focus{
        outline: none;
        box-shadow: 0 0 10px 1px #998675;
      }
    }
    & textarea{
      @include box(100%, 170px);
      resize: none;
      padding: 15px;
      font-size: 19px;
      margin-bottom: 30px;
      border: none;
      border: 2px solid #998675;
      border-radius: 5px;
      &:hover{
        box-shadow: 0 0 10px 1px #998675;
      }
      &:focus{
        outline: none;
        box-shadow: 0 0 10px 1px #998675;
      }
    }
    &--button{
      @include box(170px, 50px);
      background: transparent;
      cursor: pointer;
      border-radius: 5px;
      border: 2px solid #998675;
      font-weight: bold;
      font-size: 16px;
      color: #998675;
      outline: none;
      background-image: linear-gradient(to left,transparent,transparent 50%,#d08d51 50%,#998675);
      background-position: 100% 0;
      background-size: 200% 100%;
      transition: all .25s ease-in;
      &:hover{
        box-shadow: 0 0 8px 4px #998675;
        background-position: 0 0;
        border: 2px solid #fff;
        color: #fff;
      }
    }
  }
  &__map{
    @include box(100%);
    position: relative;
    overflow: hidden;
    margin-top: 100px;
    & iframe{
      @include box(100%, 500px);
      position: relative;
      border: none;
    }
    & a{
      color:#eee;
      font-size:12px;
      position:absolute;
      top:0px;
    }
  }
}
div.error,
div.success  {
    margin: 0 auto 5px;
    text-align: center;
    font-size: 0.89em;
    font-weight: bolder;
    text-transform: none;
}

.error {
    color: #e12c2c;
}

.contactUs__form input.error,
.contactUs__form textarea.error {
    border: 2px solid #e12c2c;
}
.contactUs__form--success {
    display: none;
    color: green;
    font-weight: bolder;
}
@media (max-width:768px){
  .contactUs{
    padding: 20px;
    &__description{
      text-align: center;
      max-width: 100%;
    }
  }
}
