<!DOCTYPE html>
<html>

<head lang="ru">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>CV</title>

</head>

<body>
    {{> _partials/cv}}

</body>
</html>
