@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');



body {
  font-family: 'Montserrat';
  margin: 0;
}
*{
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
button{
  outline: none;
}
a{
  text-decoration: none;
  color: #8c8c8c;
}
ul{
  list-style-type: none;
}
p{
  color: #8c8c8c;
}
.col-2 {
  width: 16.666%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.333%;
}
.col-6 {
  width: 50%;
}
.col-8{
  width: 66.666%;
}
.col-10{
  width: 83.333%;
}
.col-12{
  width: 100%;
}
.col-60{
  width: 60%;
}
.col-40{
  width: 40%;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.row {
  display: flex;
  justify-content: space-between;
}
.pad-10{
  margin: 0 -10px;
}
.pad-10 > div{
  padding: 0 10px;
}
.pad-25{
  margin: 0 -25px;
}
.pad-25 > div{
  padding: 0 25px;
}
h2{
  font-size: 35px;
  margin: 0;
}


@media (min-width:769px) and (max-width:1024px) {
  .row-md{
    flex-wrap: wrap;
    justify-content: center;
  }
  .container-md{
    width: 994px;
  }
  .col-md-2 {
    width: 16.666%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-8{
    width: 66.666%;
  }
  .col-md-10{
    width: 83.333%;
  }
  .col-md-12{
    width: 100%;
  }
}
@media (max-width:768px) {
  p{
    font-size: 18px;
  }
  .row-xs{
    flex-wrap: wrap;
  }
  .container-xs{
    width: 100%;
  }
  .col-xs-2 {
    width: 16.666%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.333%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-8{
    width: 66.666%;
  }
  .col-xs-10{
    width: 83.333%;
  }
  .col-xs-12{
    width: 100%;
  }
}
@import "app/_scss-core/_core";

@import "scss/helpers";
@import "scss/typography";
@import "scss/header";
@import "scss/banner";
@import "scss/aboutUs";
@import "scss/skills";
@import "scss/statistics";
@import "scss/works";
@import "scss/workProcess";
@import "scss/services";
@import "scss/testimonials";
@import "scss/partners";
@import "scss/contactUs";
@import "scss/footer";
